
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/


**/airflow/logs/
**/airflow/*.log
**/airflow/airflow.db


logs/
**/logs/


# *.env
# **/env/
# .env

*.pt
*.pth
*.h5
*.npz


data/raw/
data/processed/
test_images_medmnist/

minio/
test_data/
test_images_medmnist/


tree.txt
*.db
*.pid


.DS_Store
Thumbs.db
