
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/


**/airflow/logs/
**/airflow/*.log
**/airflow/airflow.db


logs/
**/logs/


*.env
**/env/


*.pt
*.pth
*.h5
*.npz


data/raw/
data/processed/


minio/


tree.txt
*.db
*.pid


.DS_Store
Thumbs.db
