**pycache**/
*.pyc
*.pyo
*.pyd


logs/
*.log


data/
clusters/
model/


env/
.venv/
venv/


airflow/logs/
airflow/**pycache**/


.env


.vscode/
.idea/
.DS_Store


.git
.gitignore


.ipynb_checkpoints/


*.sqlite
*.db

docker-compose.yml
